.head{
    background: rgba(44, 62, 80,1.0) !important;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.media{
    position: relative;
}
.harga{
    position: absolute;
    top:60%;
    left: 12%;
}

.hidden{
    display: none;
}

.head a {
    color:rgba(236, 240, 241,1.0);
    font-size: 16pt;
    text-transform: capitalize;
}

.carousel-inner  img{
    margin:auto;
}
.content{
    margin-top: 10%;
    margin-bottom: 20%;
}
.slide{
    margin: auto;
}

.descript{
    margin: auto;
    text-align: left;
}

.product{
    margin: 3% 5px;
}

.footer{
    background: #2C3A47;
    color:#1B9CFC;
    text-transform: capitalize;
    width: 100%;
    bottom: 0px;
    padding: 15px !important;
    z-index: 1;
}
.footer a{
    color: #F8EFBA;
}

button {
    float: right !important;
}

.descript{
    background: #58B19F;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 150px;
}

.cartcontroller {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 5%;
    z-index: 99;
    width: 0%;
    opacity: 0;
    transition: .7 ease 2;
    background: #2C3A47;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
    background: white;
    height: 5%;
    margin-bottom: 15px;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 12pt;
    height: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .cartcontent{
      height: 75%;
      margin: 20% 15px 5px 15px;
      background: slategrey;
      width: 95%;
      overflow-x: hidden;
      overflow-y: scroll;
  }

  .media{
      margin: 30px -15px;
      padding: 0px 0px;
      background: #dff9fb;
      box-shadow: 2px 1px 5px #f6e58d;
  }

  .price{
      height: 10%;
      background: slategrey;
      width: 95%;
      margin: 5px 15px 5px 15px;
  }

  .buttonclose{
      position: absolute;
      left: 5%;
      top: 5%;
      cursor: pointer;
  }

  .buttonclose span{
      font-size: 32pt;
      color: seashell;
  }

  .formcontainer{
      margin-top:10%;
  }

  .contents{
        margin-top: 15%;
  }

  .deleteProduct{
      position: absolute;
      right: 10%;
      top: 5%;
  }